
<div class="container center-block">
  <table class="search-table">
    <col width="300">
    <col width="400">
    <col width="200">
    <thead>
      <tr class="search-header">
        <th>Where</th>
        <th>When</th>
        <th>Guests</th>
      </tr>
    </thead>
    <tbody class="search-body">
      <tr>
        <th >
           <input type="text" class="search-bar no-border" placeholder="Desintation">
        </th>
        <th>
          <span><input type="text" id="checkin" class="no-border" placeholder="Check In"></span>
          <span><input type="text" id="checkout" class="no-border" placeholder="Check Out"></span>
        </th>
        <th>
          <select id="guest-select" class="form-control no-border">
            <option value="" disabled selected>Guests</option>
            <option value="2">2</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </th>
      </tr>
    </tbody>
  </table>
</div>
