// listings
.listing-div {
  margin-left: 4%;
  margin-right: 4%;
}

.listing-container {
  margin-right: 10%;
}

.listing-image {
  margin-bottom: 5%;
}

.listing-crop {
    width: 110%;
    height: 70vh;
    overflow: hidden;
}

.listing-crop .listing-single-image {
  width: 100%;
  height: auto;
  margin: -25% -10% 0 -10%;
}

.listing-details-container {
  margin-left: 10%;
  h2 { font-size: 5vh; }
  p { font-size: 2.5vh; }
}

.booking-container {
  margin-left: 5%;
}

.listing-show-container {
  margin-top: 1%;
}

.listing-reviews {
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;

  .panel-group {
    width: 100vh;
  }

  h3 {margin-left: 10%;}
}



// navbar
.badge {
  margin-left: 3%;
}

.glyphicon-bed {
  font-size: 125%;
  color: #4990E2;
}

#pad {
  font-weight: bold;
  color: #4990E2;
}

// Search Bars
.no-border {
  border: 0;
  outline: 0px;
}

.search-table {
  margin: 0 auto;
  padding: 10%;
  width: 100%;
}

.search-header th {
  font-weight: normal;
  font-size: 16px;
}

.search-body input{
  font-weight: lighter;;
  font-size: 20px;
}

.table-border {
  border: 1px;
}

#guest-select {
  width: 80px;
}

#search-button {
  margin-left: 20%;
}

.div-inline {
  display: inline-block;
}

#checkin, #checkout {
  width: 120px;
}

.search-span {
  margin-right: 6%;
}

tr.top-row th {
  border-top: thin solid;
  padding: 1.5% 1.5% 0% 1.5%;
  border-color: #979797;
}

tr.bottom-row th {
  border-bottom: thin solid;
  padding: 1% 1.5% 1% 1.5%;
  border-color: #979797;
}

tr.top-row th,
tr.bottom-row th {
  border-left: thin solid gray;
  border-right: thin solid gray;
}

.search-bar-div {
  padding-top: 5%;
  padding-bottom: 6%;
}


//Carousel
.item {
  p {
    color: white;
    font-size: 40px;
    // text-align: center;
    line-height: 80vh;
  }

  &.city{
    background: image-url('city.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
      line-height: 58vh;
      margin-left: 50%;
      color: #2F4F4F;
    }
  }
  &.water{
    background: image-url('water.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
      line-height: 58vh;
      margin-left: 10%;
    }
  }
  &.bridge{
    background: image-url('bridge.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
      line-height: 100vh;
      margin-left: 10%;
      color: #white;
    }
  }
  &.cabin{
    background: image-url('cabin.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
      margin-left: 47%;
    }
  }
  width: 100%;
  height: 70vh;
  margin-top: -10vh;
}

// Profile Dashboard
.navbar-profile .navbar-ul {
    display: inline-block;
    float: none;
}

.navbar-profile .navbar-inner {
    text-align: center;
}

.navbar-profile {
  margin: 50px;
}

.navbar-profile ul {
  overflow: auto;
  list-style-type: none;
}

.navbar-profile li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

 .navbar-profileli:last-child {
  border-right: none;
}

.navbar-profile li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-profile li a:hover {
  color: #666;
}

.navbar-profile li.active a {
  font-weight: bold;
  color: #333;
}

// forms
$page-bg: #282F32;
$light-blue: #3599FF;
$bright-blue: #68B3FF;
$light-gray: #999;
//$curve: cubic-bezier(0, 0, 0.52, 1.11);
$curve: linear;

.form{
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10em;

  label{
    display: block;
    text-align: left;
    color: black;
    font-size: .875em;
  }

  form {
    .text-input{
      overflow: hidden;
       margin-bottom: .875em;
    }

    input[type="text"],
    input[type="password"]{
      width: 100%;
      padding: 1em 0 12px;
      padding-left: 0;
      background: none;
      color: black;
      font-size: 1.2em;
      font-weight: 400;
      border: none;
      border-bottom: 1px solid $light-gray;

      &:focus + .separator {
       transform: scaleX(1) translateY(-2px);
         opacity: 1;
      }
    }

    input[type="submit"]{
      color: white;
      background: $light-blue;
      padding: 1em 1.4em;
      font-size: 1.2em;
      border:none;
      border-radius: 10px;
    }
  }
}

.separator {
  height:3px;
  width: 100%;
  background: $bright-blue;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all .15s $curve;
}

* :focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  font-family: Roboto;

  a {
    color: $light-blue;
    font-size: 1em;
    text-decoration: none;
  }
}

.form-bottom{
  margin-top:1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-header {
  text-align: center;
}

.text-input label {
  font-size: 20px;
  font-weight: normal;
}

.form {
  margin-top: 0;
}

.account-header {
  margin-bottom: 3%;
}

.button-center {
  text-align: center;
  &.update-btn{
    position: absolute;
    top: 50%;
  }
}

.full-width {
  width: 100%;
  margin-top: 0;
}

.no-padding {
  padding: 0;
  margin: 0;
}

// featured
.featured {
  margin-top: 6%;
  margin-bottom: 6%;
}

.featured-price,
.featured-price-show {
  font-weight: bold;
  margin-right: 2%;
}

.featured-price-div {
  margin-top: 3%;
}
.featured-price-show,
.address-show {
  font-size: 4vh;
}

.pinline {
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 4em;
  margin: 20px 0;
  font-family: 'Helvetica';
}

.pinline span {
    position: relative;
    display: inline-block;
    line-height: 1;

    &:before, &:after {
          content: "";
          position: absolute;
          top: 50%;
          height: 1px;
          background: #000;
          width: 200px;
        }

        &:before {
          left: 100%;
          margin-left: 20px; }

        &:after {
          right: 100%;
          margin-right: 20px; }
}
// Body
body {
  font-family: "Helvetica";
}

// map
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.map-position {
  position: fixed;
  right: 0%;
  width: 40%;
	height: 100%;
  bottom: 0%;

  #map {
    width: 100%;
    height: 100%;
  }
}

body {
  padding-top: 50px;
}









// profile page

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
$blue: #34495E;
$lightblue: #3498DB;
$darkblue: #2C3E50;

.row {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
  margin: 0 -15px;
}

.col-1 { width: 33.333%; padding: 0 15px; float: left; }
.col-2 { width: 66.666%; padding: 0 15px; float: left; }

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 10px 50px;
  &_container {
    width: 100%;
    max-height: 1000px;
    border-radius: 10px;
  }
}

.user-item {
  overflow: hidden;
  border-radius: 10px;

  &_info {
    padding: 15px;
    text-align: center;
    .name {
      color: $blue;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .sub {
      color: #AFAFAF;
    }
  }
}

.chat {
  min-height: 354px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 75px;
  .head {
    line-height: 45px;
    background: $lightblue;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    // font-weight: bold;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
  }
}
.chat_inner {
  &-item {
    padding: 10px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .message {
        padding: 12px 20px;
        background-color: #ECECEC;
        border-radius: 5px;
        color: #808080;
        letter-spacing: 1px;
        width: 100%;
    }
    &.right {
       justify-content: flex-end;
    }
  }
}
