<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-inner">
      <ul class="nav navbar-nav navbar-ul" id="dashboard-ul">
        <li><%= link_to "Overview", dashboard_path %></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">My Bookings</a></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      </ul>
    </div>
  </div>
</nav>
