<nav class="navbar-profile">
  <div class="navbar-inner">
    <ul class="navbar-ul">
      <% if current_user.admin? %>
        <li><%= link_to "Overview", admin_dashboard_path %></li>
      <% else %>
        <li><%= link_to "Overview", dashboard_path %></li>
        <% end %>
      <li><%= link_to "My Bookings", user_bookings_path(current_user) %></li>
      <li><%= link_to "Show Profile", show_user_path(current_user.slug) %></li>
    </ul>
  </div>
</nav>
